<%- include('../../partials/header.ejs') %> <!--Os comandos ../ sobe o nivel do arquivo armazenado-->
<%- include('../../partials/navbar.ejs') %> 

<div class="container">

    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Edicao de Categoria</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/categories/update">
                <input class="form-control" type="text" name="title" placeholder="Defina o titulo da Categoria!" value="<%= category.title %>"><br>
                <input type="hidden" name="id" value="<%= category.id %>">
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>